In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
from google.colab import files
file = files.upload()

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("a.txt")

In [11]:
df.head()

            6 4 5 2 1000
0   2 0 rue-de-londres 1
1  0 1 rue-d-amsterdam 1
2    3 1 rue-d-athenes 1
3      2 3 rue-de-rome 2
4    1 2 rue-de-moscou 3

In [18]:
d=df.columns
firstline=d[0]
print(firstline)

6 4 5 2 1000

In [20]:
a=str(firstline)

In [21]:
l = a.split(' ')
print(l)

['6', '4', '5', '2', '1000']

In [22]:
duration=l[0]
intersection=l[1]
streets = l[2]
cars = l[3]
bonus = l[4]

In [23]:
print(duration,intersection,streets,cars,bonus)

6 4 5 2 1000